.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvas {
  background: #c1ebaa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #777;
}

.button {
  background-color: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  min-width: 180px;
  text-align: center;
  margin: 3px;
  display: none;
}
